
/* @media all and (max-width:1559px){

  
    
} */
.main-container{
   
    height: 100%;
}


/* ==========filter section Css========== */

.filter{

    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 15px;
    margin-top: 2em;
    padding: 2em;
    
}
.filter select {
    background-color: rgb(51, 51, 51);
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    padding: 5px 0 ;
    border: none;
    margin-bottom: 5px;
}

.filter select option{
    padding: 0 5em;
}


/* ==========Product section Css========== */

.edvora h1{
    text-align: left;
}